*, *:before, *:after {
    box-sizing: border-box;
}
.cb-setting{
    display: none;
}
.active{
    display: block;
}
body {
    /*background: #F0F1F2;*/
    font-family: "Montserrat", sans-serif;
}

.aisb-header {
    display: flex;
    flex-direction: column;
    height: 200px;
    background: url("../images/bg.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.aisb-header h1{
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
}


.container {
    max-width: 90%;
    margin: 50px auto;
}



/*Create Instance*/
input#ais-create-instance {
    padding: 5px;
    outline: antiquewhite;
}
.ais-create-instance-btn {
    padding: 5px;
}
.ais-create-search-bot {
    width: 100%;
    margin-bottom: 15px;
}
ul.ais-instance {
    display: flex;
}
ul.ais-instance li {
    padding: 10px;
    background: #0e90d2;
    border-radius: 5px;
    margin-right: 10px;
}
ul.ais-instance li a{
    color: #fff;
    text-decoration: none;
}
/*Create Instance*/


/*Main container*/
.ais-main-container{
    display: flex;
    align-items: stretch;
}
.ais-main-container:nth-child(1){
    flex-grow: 1;
}
.ais-main-container:nth-child(2){
    flex-grow: 2;
}
.ais-main-container:nth-child(3){
    flex-grow: 1;
}
/*Main container*/


.sidebar {
    display: inline-block;
    /*width: 20%;*/
    border-radius: 3px;
    overflow: hidden;
    flex-grow: 1;
}

.sidebar i {
    margin-right: 15px;
}

.sidebar__header {
    vertical-align: top;
    background: #FAFBFB;
    padding: 20px;
    border-bottom: 1px solid #F0F1F2;
}
.sidebar__header img.sidebar__avatar {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.sidebar__header p {
    line-height: 2em;
    margin: 0;
}

.sidebar__menu-item {
    background: #FFF;
    padding: 20px;
    color: #333;
    border-bottom: 1px solid #F0F1F2;
    transition: all 0.3s ease;
}
.sidebar__menu-item--active {
    color: #FFFFFF;
    border-left: 3px solid #0a0a0a;
    background: #0e90d2;
}
.sidebar__menu-item:hover {
    background: #0a6ebd;
    cursor: pointer;
}

.sidebar__label {
    float: right;
    font-size: 80%;
    line-height: 1.6em;
    color: #FDE756;
}

.sidebar__badge {
    text-align: center;
    float: right;
    font-size: 70%;
    line-height: 1.8em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FFF;
    background: #8ED081;
}

.main {
    width: 50%;
    flex-grow: 4;
    vertical-align: top;
    display: inline-block;
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    margin: 0px 10px;
}

.main__header {
    padding: 20px;
    border-bottom: 1px solid #F0F1F2;
}

.main__content {
    padding: 20px;
}

.main__avatar {
    background: url("https://unsplash.it/150/?image=209");
    background-size: cover;
    width: 150px;
    height: 150px;
    display: block;
    vertical-align: middle;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
}

.main__avatar:hover .main__avatar--overlay {
    opacity: 1;
    border-radius: 50%;
}

.main__avatar--overlay {
    opacity: 0;
    background: rgba(52, 138, 167, 0.6);
    color: #FFF;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main__settings-form {
    max-width: 95%;
    display: block;
    margin: 0 auto;
}

.main__input-label {
    font-size: 90%;
    color: #333;
    display: block;
    margin: 5px 5px 5px 5px;
}

.main__input {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #000;
    font-family: "Montserrat", sans-serif;
}
.main__input:focus {
    border: 1px solid #348AA7;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}

/** ----------------------------------------------
* Select Box
* ------------------------------------------------*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
}
/* remove default arrow in IE */
select::-ms-expand {
    display:none;
}
/** ----------------------------------------------
* Table
* ------------------------------------------------*/
table {
    text-align: center;
    margin-bottom: 40px;
}
table th, table tbody tr th {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 5px;
    text-align: center;
    background: #ffba00 !important;
}
table td {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666666;
    padding: 10px 5px;
}
table thead th {
    padding: 15px 20px;
    text-align: center;
    background: #ffba00 !important;
}

tr:hover:not(th) {background-color: rgba(237,28,64,.1);}


input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

input[type="button"]:not(.pg-active) {
    background-color:transparent;
}

.pg-active {
    background-color: #ff4d4d;
    color :#fff;
}

input[type="button"]:hover:not(.pg-active) {
    background-color: #ddd;
}
/*----------------------------------
* Settings UI
 ---------------------------------*/
.setting-block{
    display: flex;
    flex-direction: column;
}
#saveKnowledge{
    float: right;
    padding: 10px;
    background: #ff3997;
}
#showHideKnowledge{
    display: inline-block;
    width: 20%;
    float: right;
    padding: 10px;
    background: #ff3997;
}

.s-row{
    display: inline-flex;
    padding: 15px 0px;
    width:100%;
    font-size: 16px;
    color: #333;
    align-items: center;
}
.s-row label{
    width: 30%;
}
.s-row .s-action{
    padding: 0 20px;
    width: 100%;
}
.s-select{
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
}
.on{
    background: green;
    display: none;
}
.off{
    background: red;
    display: none;
}
.ok{
    display: block;
    z-index: 999;
}

.btn {
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.main__save-button {
    color: #FFF;
    background-color: #8ED081;
}
.main__save-button:hover {
    background-color: #6dc25c;
    cursor: pointer;
}

.main__cancel-button {
    color: #FFF;
    background: #CCC;
}
.main__cancel-button:hover {
    background-color: #b3b3b3;
    cursor: pointer;
}
/************************************************************************
****************************** Multi Select *****************************
*************************************************************************/
.sItem{
    padding: 5px 10px;
    background: #674;
    margin: 0 5px 0 0;
    border: 1px solid #32b424;
    border-radius: 10px;
    color: #fff;
}

footer {
    background: #464C4F;
    padding: 40px;
    color: #CCC;
    font-size: 90%;
}

@media (max-width: 764px) {
    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .sidebar__menu-item {
        padding: 15px;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    h1 {
        font-size: 44px;
    }

    footer {
        text-align: center;
    }
}

/*Loader*/
.ais-loader {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    margin: -30px 0 0 -30px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #0A246A;
    border-right: 6px solid #0a5f10;
    border-bottom: 6px solid #ff036e;
    border-left: 6px solid #d97426;
    width: 50px;
    height: 50px;
    -webkit-animation: spin .6s linear infinite;
    animation: ais-spin .6s linear infinite;
}

@-webkit-keyframes ais-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes ais-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*Loader*/

